@charset "utf-8";
/* CSS Document */

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.footer-text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
}
.header-text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: bold;
	color: #007336;
	text-align: left;
}
a:link.footer-link {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #007336;
	text-decoration: underline;
}
a:visited.footer-link {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #007336;
	text-decoration: underline;
}

a:hover.footer-link {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #005327;
	text-decoration: none;
}
a:link.mainlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #5A5F10;
	text-decoration: none;
}
a:visited.mainlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #5A5F10;
	text-decoration: none;
}
a:hover.mainlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #F28A0B;
	text-decoration: none;
}
.tag-line {
	font-family: Times New Roman, Verdana, Geneva, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #761C16;
	text-align: left;
}

.hd {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	line-height: 18px;
	color: #761C16;
	text-align: left;
	font-weight: bold;
}
.table-hd {
	color: #FFF;
}
.gridview
{
	font-size: 15px;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	
	
	}
