@charset "utf-8";
.headerbg {
	background-image: url(image/header_bg.gif);
	background-repeat: repeat-x;
	margin-left: 150px;
}
.name {
	background-image: url(image/co_name.gif);
	background-repeat: no-repeat;
	display: block;
	height: 73px;
	width: 356px;
}
.pad {
	margin-top: 135px;
	margin-right: 50px;

}
.Top_tab {
	margin-top: 25px;
}
.pad1 {
	margin-left: 50px;
	margin-bottom: 0px;
}
.form_mar {
	margin-top: 5px;
}
.white_hd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 10px;
}
.font_text2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #a1215a;
	text-decoration: none;
}
.form_m_t {
	margin-top: 60px;
}
.pad3 {
	margin-top: 135px;
	margin-right: 0px;
	margin-left: 50px;
}

.mar {
	margin-top: 60px;
	margin-left: 50px;
}
.white_font {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.m_img {
	margin-right: 5px;
	margin-left: 5px;
}

.margin {
	margin-top: 10px;
	margin-right: 10px;
}
.wel_tab {
	background-image: url(images/wel_tab.gif);
	background-repeat: no-repeat;
	display: block;
}
.form_font {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	

}

.form_font2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #444243;
	text-decoration: none;
	padding-left: 15px;
}
a:link.sub {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #444243;
	text-decoration: none;
	padding-left: 15px;
}

a:visited.sub {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #444243;
	text-decoration: none;
	padding-left: 15px;
}

a:hover.sub {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	padding-left: 15px;
}

.mar1 {
	margin-top: 60px;
}
.form_font1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}

.G_font {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #2f7500;
	text-decoration: none;
}

.R_font {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #cb0000;
	text-decoration: none;
}

.mar2 {
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
}
a:link.password {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}

a:link.password_1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
.wel_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	color: #b62d6a;
	text-decoration: none;
}

.wel_text1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	color:#000000;
	text-decoration: none;
}

a:link.wel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #444243;
	text-decoration: none;
}

a:visited.wel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #444243;
	text-decoration: none;
}

a:hover.wel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #b62d6a;
	text-decoration: none;
}

a:hover.wel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #b62d6a;
	text-decoration: none;
}
.top_margin {
	margin-top: 40px;
}

.top_margin3 {
	margin-top: 20px;
}
.sub_tab_mar {
	margin-top: 30px;
	margin-right: 30px;
}
.sub_tab_mar1 {
	margin-top: 30px;
	margin-left: 30px;
}
.top_mar_bottom {
	margin-top: 40px;
	margin-bottom: 47px;
}

.top_mar_bottom_1 {
	margin-top: 20px;
	margin-bottom: 70px;
}

a:hover.wel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #b62d6a;
	text-decoration: none;
}
.border_tab {
	border: thin solid #818080;
}
.pink_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #a1215a;
	font-weight: bold;
	padding-left: 15px;
}
.pink_text1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #a1215a;
	font-weight: bold;
}
.top_pinktab {
	background-image: url(image/top_gred.gif);
	background-repeat: repeat-x;
}
.top {
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.active.wel{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #b62d6a;
	text-decoration: none;
}
.que1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.black_b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.mar4 {
	margin-top: 17px;
	margin-bottom: 3px;
	margin-left: 0px;
}

a:link.g {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #2f7500;
	text-decoration: none;
}

a:visited.g {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #2f7500;
	text-decoration: none;
}

a:hover.g {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #2f7500;
	text-decoration: none;
}

a:link.r {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #cb0000;
	text-decoration: none;
}

a:visited.r {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #cb0000;
	text-decoration: none;
}
.bor {
	border: 0.75px solid #5c5c5c;
}


a:hover.r {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #cb0000;
	text-decoration: none;
}
.sub_table_bg {
	background-image: url(image/sub_table.jpg);
	background-repeat: no-repeat;
}
